<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <h3>Status authorization</h3>
    <p><%= @auth %></p>
    <h3>User Agent</h3>
    <p><%= @user_agent %></p>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>